[Unit]
Description=The Display Control colbp Server
After=network.target gdm3.service

[Service]
PIDFile=/usr/local/dpcs/colbp.pid  # 会在启动ngnix服务时会创建并将其进程信息保存到该文件
ExecStart=/etc/init.d/colbp start
ExecStop=/etc/init.d/colbp stop
ExecReload=/etc/init.d/colbp restart
PrivateTmp=true
RestartSec=3s
Restart=always
WorkingDirectory=/usr/local/dpcs

[Install]
WantedBy=multi-user.target


